/* Styling */

body {
  background-color: #101828;
  color: #e2e3e7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-right: 50px;
}

h1 {
  color: #ff79c6;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
  margin-bottom: 5px;
}

a {
  color: #50fa7b;
  text-decoration: none;
}









